/* Estilos para o layout dos campos */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Ajuste a largura conforme necessário */
    margin: auto; /* Centraliza o formulário na página */
}

/* Estilos para as divs que contêm os rótulos e campos */
form div {
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

/* Estilos para os rótulos dos campos */
label {
    display: block; /* Faz com que cada rótulo apareça em uma linha separada */
    margin-bottom: 5px; /* Espaço entre os rótulos e os campos */
}