/* Estilos para a div que contém os produtos */
.container-produtos {
    display: flex;
    flex-wrap: nowrap; /* Impede a quebra de linha */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se os produtos não couberem na tela */
    gap: 10px; /* Espaço entre os produtos */
    padding-bottom: 10px; /* Espaçamento inferior para melhor visualização */
}

/* Estilo para cada bloco de informações do produto */
.info-produto {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 250px; /* Define a largura máxima para os produtos */
    flex: 0 0 auto; /* Torna o tamanho flexível para ajustar os produtos */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilos para a imagem do produto */
.imagem-produto {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px; /* Espaço abaixo da imagem */
